# docker-compose.yml
version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: styletrans-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
      - MONGO_INITDB_DATABASE=styletrans_db
    volumes:
      - ./docker-data/mongodb:/data/db
      - ./docker-data/mongo-config:/data/configdb

  mongo-express:
    image: mongo-express:latest
    container_name: styletrans-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin123
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin123
    depends_on:
      - mongodb